# CODEOWNERS — these users are automatically requested as reviewers for any PR
# that touches the matching paths. See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for the whole repo
*       @Mukunth1

# Backend
/backend/    @Mukunth1

# Frontend
/src/        @Mukunth1
*.ts         @Mukunth1
*.tsx        @Mukunth1
